
/** Styling for all elements **/

body {
    background-color: #8ED4D6;
    font-family: 'Oswald', sans-serif;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 7px;
}


/** Images styling **/ 
.image1 {
    position: absolute;
    width: 5%;
  left: 180px;
  top: 3%;
  transform: rotate(10deg);
}

.image2 {
    position: absolute;
    width: 5%;
  right: 180px;
  top: 5%;
  transform: rotate(40deg);
}
.image3 {
    position: absolute;
    width: 5%;
  left: 180px;
  top: 40%;
  transform: rotate(-10deg);
}
.image4 {
    position: absolute;
    width: 5%;
  right: 180px;
  top: 40%;
  transform: rotate(30deg);
}
.image5 {
    position: absolute;
    width: 5%;
  right: 180px;
  top: 70%;
  transform: rotate(-20deg);
}
.image6 {
    position: absolute;
    width: 5%;
  left: 180px;
  top: 75%;
  transform: rotate(20deg);
}




/** Text styling **/

.intro {
    margin: 150px auto 50px;
    width: 50%;
    color: #F7941D;
    font-size: larger;
}

h1 {
    color: #F04A56;
    text-align: center;
}

footer {
    padding-top: 100px;
    text-align: center;
font-size: 10px;
text-decoration: none;
color: #ffda77;
}

a {
    color: #ffda77;

}



/** Button Styling **/

.yourGuess {
    text-align: center;
    color: #7fdbda;
    font-size: 30px;
}



.submitButton {
margin-top: 20px;
background-color: #ffda77;
color: #ffa45b;
border: 0.5px solid;
padding: 5px 30px;
border-radius: 8px;
cursor: pointer;
font-size: 15px;
}

.submitButton:hover {
    background-color:#F04A56;
}

/** Media Queries **/
@media (max-width: 576px) { 
    .block-left {
        left: 15px;
      }
      
      .block-right {
        right: 15px;
      }

}



@media (min-width: 576px) { 
    .block-left {
        left: 15px;
      }
      
      .block-right {
        right: 15px;
      }

}

@media (min-width: 768px) { 
    .block-left {
        left: 50px;
      }
      
      .block-right {
        right: 50px;
      }
      

}


@media (min-width: 992px) { 
    .block-left {
      left: 150px;
    }
    
    .block-right {
      right: 150px;
  
    }
    
 }

